@import "./base/_global.css";

p > a:link {
  color: orange;
}

p > a:visited {
  color: green;
}

p > a:hover {
  text-decoration: none;
}

.container p:first-child {
  font-size: 150%;
}

.container p:first-child::first-line {
  color: red;
}

tr:nth-child(2n) {
  color: white;
  background-color: #333;
}

table {
  border-collapse: collapse;
}
